@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50;
  }
}

@media print {
  /* Esconde tudo que não for o QR Code na hora de imprimir */
  body * {
    visibility: hidden;
  }
  #sessao-impressao-qrcode, #sessao-impressao-qrcode * {
    visibility: visible;
  }
  #sessao-impressao-qrcode {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }
}
